.crystal {
    height: 150px;
    width: 145px;
    padding: 5px;
    border-radius: 25%;
    border-width: 3px;
    border-style: groove;
    border-color: white;
    display:inline-block;
}

.btn {
    margin: 15px;
    background: teal;
}

.jumbotron {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(104, 52, 104);
    color: white;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 4px;
    border-style: groove;
    border-color: white;
}

body {
    background-image: url("background.jpg");
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 50%;
}

h2 {
    margin: 10px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
    color: rgb(104, 52, 104);
    padding: 10px;
    display:inline-block;
    border-width: 3px;
    border-style: groove;
    border-color: white;
}

h3 {
    margin: 10px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(104, 52, 104);
    padding: 10px;
    border-width: 3px;
    border-style: groove;
    border-color: white;
    text-align: center;
}

.col-md-12, .col-md-6 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#bank, #score {
    background: rgb(100, 158, 131);
    height: 85px;
    width: 70%;
    margin: 15px;
    padding: 5px;
    font-size: 65px;
    display:inline-block;
    border-width: 3px;
    border-style: groove;
    border-color: white;
    text-align: center;
}

#tally {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}